body {
  align-items: center;
  text-align: left;
}

figcaption {
  text-align: center;
}

figure{
	margin-bottom: 1rem;
}

blockquote {
  margin: 1rem;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
  color: #484848;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

ul {
  list-style: circle;
  list-style-position: inside;
}

ul li p,
ol li p {
  display: inline;
}

h3,
h4,
h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  color: var(--light-backboard-color);
}

h4 {
  color: var(--dark-tan-color);
}
